<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>John Page</title>
  <link rel="shortcut icon" href="assets/img/icons/iris.png">

  <!-- Bootstrap core CSS -->
  <link href="assets/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="assets/css/main.css" rel="stylesheet">

  <link rel="stylesheet" href="assets/css/font-awesome.min.css">

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>

  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

  <!-- Revisar -->
  <script src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="assets/js/smoothscroll.js"></script>
  <script src="assets/js/Chart.js"></script>


<body data-spy="scroll" data-offset="
  </head> 0" data-target="#nav">

<div id="section-topbar">
  <div id="topbar-inner">
    <div class="container">
      <div class="row">
        <div class="dropdown">
          <ul id="nav" class="nav">
            <li class="menu-item"><a class="smoothScroll" href="#about" title="About"><i class="icon-user"></i></a></li>
            <li class="menu-item"><a class="smoothScroll" href="#resume" title="Resume"><i class="icon-file"></i></a></li>
            <li class="menu-item"><a class="smoothScroll" href="#work" title="Works"><i class="icon-briefcase"></i></a></li>
            <li class="menu-item" class="contact-icon"><a class="smoothScroll" id="contact-icon" href="#contact" title="Contact"><i class="icon-envelope"></i></a></li>
          </ul><!--/ uL#nav -->
        </div><!-- /.dropdown -->
        <div class="clear"></div>
      </div><!--/.row -->
    </div><!--/.container -->

    <div class="clear"></div>
  </div><!--/ #topbar-inner -->
</div><!--/ #section-topbar -->

<div id="headerwrap">
  
        <div class="wrapper">
          <div class="panel" style="text-align: left;">
            <div class="panel__content-col">
              <div class="panel__content">
                <div class="panel__text">
                  <h1 class="panel__title" id="name">John Ardila C.</h1>
                  <h3 class="panel__addr" id="career"><span></span>Systems Engineering Student</h3>
                </div>
              </div>
            </div>
            <div class="panel__img-col">
              <img class="mySlides" src="http://pysnnoticias.com/wp-content/uploads/2017/04/FwKbRP.jpg" alt="" class="panel__img">
              <img class="mySlides" src="https://lh3.googleusercontent.com/2U66SNvT1oZ0vFTk_vahM3YOLGGloHrD6ZTbRT1UJDqHMZsjmxt3xlz0kN9s5UOly6s=h1264" alt="" class="panel__img">
              <img class="mySlides" src="https://www.architect-design.ru/images/products/Autodesk/3dsMax2013/3dsMax2013-13.jpg" alt="" class="panel__img">
              <img class="mySlides" src="http://rrv.com.pe/wp-content/uploads/2016/07/bizagi_02.jpg" alt="" class="panel__img">
            </div>
          </div>
        </div>
      </div>
  



<section id="about" name="about"></section>
<div id="intro">
  <div class="container">
    <div class="row" id="text_about">
      <div class="col-lg-14" id="text_intro">
        <p>• Cuento con amplia experiencia en la programación de BackEnd, en Consultoria para diseño de solución y diseño grafico.

          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; • Me encanta el trabajo en grupos interdisciplinarios. Solucionar problemas reales es mi motivación.
        </p>
      </div>
    </div><!--/.row -->
  </div><!--/.container -->
</div><!--/ #intro -->


<section id="about" name="about"></section>
<div id="blue_border">
  <div class="container desc">
    <div class="row" id="text_abouttwo">
      <div class="col-lg-2" style="display: inline;">
        <img src="assets/img/icons/iris.png" alt="eye">
      </div>
      <div class="col-lg-6 col-lg-offset-4" id="education_text">
        <p><t>Educación</t><br/>
          Ingeniería de Sistemas y Computación <t> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (Universidad de los Andes)</t> <br/>
          Técnico en Publicidad y Mercadeo <t> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Universidad Panamericana)</t><br/>
          Opción en Gestión de Producción Industrial <t> &nbsp;&nbsp; (Universidad de los Andes)</t> <br/><br/><br/>
        </p>
        <hr>
      </div>
      <div class="col-lg-6 col-lg-offset-4" id="education_text">
        <p><t>Trabajo-Monitoria</t><br/>
          Algoritmos y Programación de Objetos 1 <t> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Universidad de los Andes)</t> <br/>
          TI en las Organizaciones <t>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (Universidad de los Andes)</t>
        </p>
      </div>
    </div><!--/.row -->
  </div><!--/.container -->
</div><!--/ #intro -->


<section id="resume" name="resume"></section>
<!--EDUCATION DESCRIPTION -->
<div class="container desc">
  <div class="row">


  </div><!--/.row -->

</div><!--/.container -->




<!--SKILLS DESCRIPTION -->
<div id="skillswrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1 centered">
        <h5 id="habilities">HABILIDADES</h5>
      </div>
      <div class="col-lg-2 col-lg-offset-1 centered">
        <canvas id="javascript" height="130" width="130"></canvas>
        <p>Java</p>
        <br>
        <script>
            var doughnutData = [
                {
                    value: 70,
                    color:"#7fff00"
                },
                {
                    value : 30,
                    color : "#ecf0f1"
                }
            ];
            var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
        </script>
      </div>
      <div class="col-lg-2 centered">
        <canvas id="bootstrap" height="130" width="130"></canvas>
        <p>CorelDraw</p>
        <br>
        <script>
            var doughnutData = [
                {
                    value: 90,
                    color:"#7fff00"
                },
                {
                    value : 10,
                    color : "#ecf0f1"
                }
            ];
            var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
        </script>
      </div>
      <div class="col-lg-2 centered">
        <canvas id="wordpress" height="130" width="130"></canvas>
        <p>Bizagi</p>
        <br>
        <script>
            var doughnutData = [
                {
                    value: 75,
                    color:"#7fff00"
                },
                {
                    value : 25,
                    color : "#ecf0f1"
                }
            ];
            var myDoughnut = new Chart(document.getElementById("wordpress").getContext("2d")).Doughnut(doughnutData);
        </script>
      </div>

      <div class="col-lg-2 centered">
        <canvas id="html" height="130" width="130"></canvas>
        <p>3D-Max</p>
        <br>
        <script>
            var doughnutData = [
                {
                    value: 60,
                    color:"#7fff00"
                },
                {
                    value : 40,
                    color : "#ecf0f1"
                }
            ];
            var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
        </script>
      </div>



    </div><!--/.row -->
    <br>
  </div><!--/.container -->
</div><!--/ #skillswrap -->



<section id="work" name="work"></section>
<!--PORTFOLIO DESCRIPTION -->




<section id="contact" name="contact"></section>
<!--FOOTER DESCRIPTION -->
<div id="footwrap">
  <div class="container">
    <div class="row">

      <div class="col-lg-2  centered">
        <h5 id="contacts">CONTACTO</h5>
      </div>
      <div class="col-lg-4 col-lg-offset-1">
        <p><t>Email</t><br/>
         je.ardila1501@uniandes.edu.co <br/>
        </p>
        <p><t>Dirección</t><br/>
            Cr&nbsp;XX&nbsp;#&nbsp;XX&nbsp;X&nbsp;-&nbsp;XX<br/>
            Bogotá - Colombia <br/>
        </p>
        <p><t>Teléfono</t><br/>
          (+57)&nbsp;300&nbsp;XXX&nbsp;XX&nbsp;XX <br/>
        </p>
      </div>
      <div class="col-lg-1">
        <p><sm>Redes</sm></p>
        <p>
          <a href="https://twitter.com/John_arcu"><i class="icon-twitter"></i></a>
            <a href="https://www.facebook.com/krioldy"><i class="icon-facebook"></i></a>
        </p>
      </div>
    </div><!--/.row -->
  </div><!--/.container -->
</div><!--/ #footer -->

<div id="c">
  <div class="container">

  </div>
</div>

<script src="assets/js/bootstrap.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script type="text/javascript" src="script.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
<script>
    var myIndex = 0;
    carousel();
    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 2700); // Change image every 2 seconds
    }
</script>
</body>
</html>
